@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pb-c-white: #ffffff;
  --pb-c-soft-grey: #F8F9F9;
  --pb-c-blue: #3a5cd4;
  --pb-c-light-blue: #5c78db;

  --pb-c-black: #1E1E1E;
  --pb-c-black-soft: #5a5a5a;
  --pb-c-text-grey: #C0C0C0;
}


input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}