@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --pb-c-white: #ffffff;
  --pb-c-soft-grey: #f8f9f9;
  --pb-c-text-black: #080d18;
  --pb-c-red: #e91b41;
  --pb-c-mid-red: #feeff2;
  --pb-c-light-red: #fff9fa;
  /* --pb-c-blue: #3a5cd4;
  --pb-c-light-blue: #5c78db; */

  /* --pb-c-black: #1E1E1E;
  --pb-c-black-soft: #5a5a5a;
  --pb-c-text-grey: #C0C0C0; */
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.MuiAutocomplete-input:focus-visible {
  outline: none !important; /* Remove the blue outline */
  box-shadow: none !important; /* Remove the focus shadow */
}

.css-1lztu7b-JoyAutocomplete-root:not([data-skip-inverted-colors]) {
  --Input-focusedHighlight: var(--_Input-focusedHighlight, #fff);
}

.css-1nrxm3h-JoyAutocomplete-root:not([data-skip-inverted-colors]) {
  --Input-focusedHighlight: none !important;
}
